# Emplacement : /projet_optimedit/Git/ansible.cfg
[defaults]
inventory         = ./inventory.yml
roles_path        = ./roles
collections_paths = ./collections:~/.ansible/collections:/usr/share/ansible/collections
# Modification ici: on pointe directement sur le dossier contenant les namespaces
#collections_paths = ./collections/ansible_collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = False
#remote_user       = admin_ansible@OPTIMEDIT.EU # utilser sur fichier all

[privilege_escalation]
become = False
become_method = runas
become_user = admin_ansible


